.carousel-container {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;

}

.carousel-left-btn {
    position: absolute;
    left: 0;
    top: 40%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-right-btn {
    position: absolute;
    right: 0;
    top: 40%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-content-container {
    width: 100%;
    display: flex;
    gap: 16px;
    flex: 1 1 1;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.carousel-image {
    width: 100%;
    height: 200px;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item-content {
    display: flex;
    width: inherit;
    flex-direction: column;
    gap: 8px;
    justify-content: center;


}

.carousel-title {
    font-size: 16px;
    font-weight: 600;
}